extends layout

block content
    ._margin-bottom50
    .container._margin-bottom50#prepare
        h2 Step1 &nbsp;
            small Prepare for swap
        .row._margin-bottom20
            button.accordion._small explanation
            .description.-panel
        form#lock
            .row._margin-bottom20
                .row
                    label Your address your will send
                        span(style="color:red;") &nbsp;*
                    input._width100(type="text" name="addressFrom" placeholder="Address start with a capital S" pattern="^S.+$" title="catapult address start with a capital S" required)
                .row.off-1
                    .row
                        .m2.col._noPadding
                            span._bold Network
                        .m10.col._noPadding
                            span http://catapult-test.44uk.net:3000
                    .row
                        .m2.col._noPadding
                            span._bold Recipient
                        .m10.col._noPadding
                            span SBNRDT-MZ3MF4-RFNQA2-ZA33G7-4EGTIN-CKX2EH-YYHY
                    .row
                        .m2.col._noPadding
                            span._bold Your public key
                                span(style="color:red;") &nbsp;*
                        .m10.col._noPadding
                            span#pubkeyFrom please input your address
            .row._margin-bottom20
                .row
                    label Swap Amount
                    input._width100(type="number" name="amountFrom" placeholder="Default is 10" min="0" max="1500" step="0.05")
            .row._margin-bottom20
                .row
                    label Your address you will receive
                        span(style="color:red;") &nbsp;*
                    input._width100(type="text" name="addressTo" placeholder="Address start with a capital S" pattern="^S.+$" title="address start with a capital S" required)
                .row.off-1
                    .row
                        .m2.col._noPadding
                            span._bold Network
                        .m10.col._noPadding
                            span http://catapult48gh23s.xyz:3000
                    .row
                        .m2.col._noPadding
                            span._bold Sender
                        .m10.col._noPadding
                            span SBWEUW-ON6IBH-CW5IC4-EI6V6S-MTVJGC-JWGLF5-7UGK
            .raw._margin-bottom20
                .col.m5
                    input(type="submit" name="lock" value="Prepare OK")._primary._width100
                .col.m1
                    img(src="img/sozai_cman_jp_30.gif")._inline-block._is-invisible#progress_lock
    .container._margin-bottom50#cosign
        h2 Step2 &nbsp;
            small Check & Cosign Tx
        .row._margin-bottom20
            button.accordion._small explanation
            .description.-panel
        form#proof
            .raw._margin-bottom20
                .row
                    label Transaction hash you will send,
                        span(style="color:red;") &nbsp; need cosign
                    input(type="text" name="tx2pubHash" readonly)._width100
                .row.off-1
                    .row
                        .m2.col._noPadding
                            span._bold Network
                        .m10.col._noPadding
                            span http://catapult-test.44uk.net:3000
                    .row
                        .m2.col._noPadding
                            span._bold Show tx
                        .m10.col._noPadding
                            a#tx2pubPartial(target="_blank") partial
                            span &nbsp;
                            a#tx2pubStatus(target="_blank") status
                            span &nbsp;
                            a#tx2pubDetail(target="_blank") detail
            .raw._margin-bottom20
                .raw
                    label Transaction hash you will receive
                    input(type="text" name="tx1privHash" readonly)._width100
                .row.off-1
                    .row
                        .m2.col._noPadding
                            span._bold Network
                        .m10.col._noPadding
                            span http://catapult48gh23s.xyz:3000
                    .row
                        .m2.col._noPadding
                            span._bold Show tx
                        .m10.col._noPadding
                            a#tx1privStatus(target="_blank") status
                            span &nbsp;
                            a#tx1privDetail(target="_blank") detail
            .row._margin-bottom20
                .row
                    label target secret
                    input(type="text" name="secret" readonly)._width100
                .row
                    .col.m5
                        input(type="submit" name="proof" value="Check & Cosign OK")._primary._width100
                    .col.m1
                        img(src="img/sozai_cman_jp_30.gif")._inline-block._is-invisible#progress_proof
    .container._margin-bottom50#verify
        h2 Step3 &nbsp;
            small Verify Swap
        .row._margin-bottom20
            button.accordion._small explanation
            .description.-panel
        .row._margin-bottom20.off-1
            .row
                .m2.col._noPadding
                    span._bold Proof
                .m10.col._noPadding
                    span#showproof
        .row._margin-bottom20.off-1
            .row
                .m2.col._noPadding
                    span._bold Network
                .m10.col._noPadding
                    span http://catapult-test.44uk.net:3000
            .row
                .m2.col._noPadding
                    span._bold Show tx
                .m10.col._noPadding
                    a#tx3pubStatus(target="_blank") status
                    span &nbsp;
                    a#tx3pubDetail(target="_blank") detail
        .row._margin-bottom20.off-1
            .row
                .m2.col._noPadding
                    span._bold Network
                .m10.col._noPadding
                    span http://catapult48gh23s.xyz:3000
            .row
                .m2.col._noPadding
                    span._bold Show tx
                .m10.col._noPadding
                    a#tx4privStatus(target="_blank") satus
                    span &nbsp;
                    a#tx4privDetail(target="_blank") detail
    .container._margin-bottom50
        h2 Refference &nbsp;
        .row
            ul
                li
                    a(href="https://github.com/planethouki/nem2-crosschain" target="_blank") Github
                li
                    a(href="https://github.com/planethouki/nem2-crosschain-api" target="_blank") Github (API)
                li
                    a(href="https://twitter.com/planethouki" target="_blank") Twitter @planethouki
    .container._margin-bottom50
        h2 Diagram &nbsp;
        .row
            img(src="https://raw.githubusercontent.com/planethouki/images/master/nem2-crosschain/atomicswap-deposit.png")

